Repository canonical/vanilla-framework, pull requests merged in 2021-01, with the labels that each got.

#3461 Change %vf-hide-text text indent to IE friendly value
  scss/_base_placeholders.scss
Labels: Bug 🐛, Review: Code +1, Review: QA +1

#3476 Fix broken LinkedIn share plugin link
  templates/docs/patterns/icons.md
Labels: Maintenance 🔨, Review: QA +1

#3479 Remove unnecessary pseudo-element from tables
  scss/_base_tables.scss
Labels: Bug 🐛, Review: Code +1, Review: QA +1

#3474 Code snippet pattern
  scss/_base_code.scss
  scss/_patterns_code-snippet.scss
  scss/_vanilla.scss
  scss/standalone/patterns_code-snippet.scss
  templates/docs/base/code.md
  templates/docs/examples/patterns/code-snippet/code-snippet.html
Labels: Feature 🎁, Review: Code +1, Review: Design +1, Review: QA +1

#3480 Fix shifting headings in sortable tables
  scss/_patterns_table-sortable.scss
Labels: Bug 🐛, Review: Code +1, Review: QA +1

#3483 Update base code block styles to match code snippet pattern
  scss/_base_code.scss
  scss/_patterns_code-numbered.scss
  scss/_patterns_code-snippet.scss
  templates/docs/examples/patterns/code-numbered.html
Labels: Maintenance 🔨, Review: Code +1, Review: Design +1, Review: QA +1

#3487 Add code snippet icon modifier class
  scss/_base_icon-definitions.scss
  scss/_patterns_code-snippet.scss
  scss/_patterns_icons.scss
  templates/docs/base/code.md
  templates/docs/examples/patterns/code-snippet/code-snippet-icon.html
Labels: Feature 🎁, Review: Code +1, Review: Design +1, Review: QA +1

#3484 Update code copyable style to match code snippet
  scss/_base_code.scss
  scss/_patterns_code-copyable.scss
  scss/_patterns_code-snippet.scss
  scss/_settings_colors.scss
  templates/_layouts/docs.html
  templates/docs/base/code.md
  templates/docs/component-status.md
Labels: Maintenance 🔨, Review: Code +1, Review: QA +1

#3493 Use correct key in map for x-small text
  scss/_base_typography-definitions.scss
Labels: Maintenance 🔨, Review: Code +1

#3490 Add numbered variant to code snippet
  scss/_base_code.scss
  scss/_patterns_code-numbered.scss
  scss/_patterns_code-snippet.scss
  templates/docs/base/code.md
  templates/docs/component-status.md
  templates/docs/examples/patterns/code-numbered.html
  templates/docs/examples/patterns/code-snippet/code-snippet-numbered.html
  templates/docs/examples/patterns/code-snippet/code-snippet.html
Labels: Feature 🎁, Review: Code +1, Review: Design +1, Review: QA +1

#3497 Apply is-inline button styles at the small breakpoint and up
  scss/_patterns_buttons.scss
  templates/docs/examples/patterns/buttons/small.html
Labels: Bug 🐛, Review: Code +1, Review: QA +1

#3498 Remove outline from code copyable input on Chrome
  scss/_patterns_code-copyable.scss
Labels: Bug 🐛, Review: Code +1, Review: QA +1

#3500 Add box-decoration-break: clone to code element
  scss/_base_code.scss
Labels: Bug 🐛, Review: Code +1, Review: Design +1, Review: QA needed

#3501 Fix Vanilla import causing build failures
  .github/workflows/pr.yml
  scss/_base_code.scss
  scss/_base_icon-definitions.scss
  scss/_base_placeholders.scss
  scss/_global_functions.scss
  scss/_settings_spacing.scss
  scss/standalone/import.scss
Labels: Bug 🐛, Review: Code +1, Review: QA +1

#3503 Bump version to 2.22.1
  package.json
Labels: Maintenance 🔨

#3507 Fix broken HTML
  templates/accessibility.html
Labels: Review: Code +1, Review: QA +1

#3502 Add .is-wrapped code snippet utility
  scss/_base_code.scss
  scss/_patterns_code-snippet.scss
  templates/docs/base/code.md
  templates/docs/component-status.md
  templates/docs/examples/patterns/code-snippet/code-snippet-wrapping.html
Labels: Feature 🎁, Review: Code +1, Review: Design +1, Review: QA +1

#3515 Deprecate .is-active button utility class and replace with .is-processing
  scss/_patterns_buttons.scss
  templates/_layouts/docs.html
  templates/docs/component-status.md
  templates/docs/examples/patterns/buttons/active.html
  templates/docs/examples/patterns/buttons/processing.html
  templates/docs/patterns/buttons.md
Labels: Feature 🎁, Review: Code +1, Review: QA +1

#3511 Code snippet dropdowns
  .spelling
  scss/_patterns_code-snippet.scss
  templates/docs/base/code.md
  templates/docs/component-status.md
  templates/docs/examples/patterns/code-snippet/_script.js
  templates/docs/examples/patterns/code-snippet/code-snippet-dropdown.html
Labels: Feature 🎁, Review: Code +1, Review: Design +1, Review: QA +1
